<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419133560440-hbuuupgvf3611kajgaqegqs6i58b40l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419133560440-hbuuupgvf3611kajgaqegqs6i58b40l9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419133560440-j1uc54ups4o1jdb0006k0f7h3akjku8h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX0DzqEX00HO-wsiUPm6YccJiv0qwYwAY</string>
	<key>GCM_SENDER_ID</key>
	<string>419133560440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carros</string>
	<key>PROJECT_ID</key>
	<string>carros-e5028</string>
	<key>STORAGE_BUCKET</key>
	<string>carros-e5028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419133560440:ios:b7d56aacbf74688b357f8d</string>
	<key>DATABASE_URL</key>
	<string>https://carros-e5028.firebaseio.com</string>
</dict>
</plist>